<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="cache-control" content="no-cache, max-age=0">
  <meta http-equiv="pragma" content="no-cache">

  <meta name="keywords" content="PowerShell, Scripts, Functions, Snippets, Tools, Maintenance, IT, Administration">
  <meta name="description"
    content="This site was created as a catalogue for all the scripts, functions, tools and snippets I have written, downloaded or amended while learning how to automate and develop PowerShell tools.">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- buttons.github.io -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/0716ac15bf.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/public/css/poole.css" }}">
  <link rel="stylesheet" href="{{ "/public/css/syntax.css" }}">
  <link rel="stylesheet" href="{{ "/public/css/hyde.css" }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ absolute_url }}/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Cookiebot Cookie Consent -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="799c8a70-a663-4855-90dd-6534fd8c7c15"
    data-blockingmode="auto" type="text/javascript"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3T94X6S0QF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3T94X6S0QF');
  </script>

  <!-- Microsoft Clarity Analytics -->
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "3viwaz6tld");
  </script>

</head>