<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Cookiebot Cookie Consent -->
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="799c8a70-a663-4855-90dd-6534fd8c7c15"
    data-blockingmode="auto" type="text/javascript"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3T94X6S0QF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3T94X6S0QF');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/public/css/poole.css" }}">
  <link rel="stylesheet" href="{{ "/public/css/syntax.css" }}">
  <link rel="stylesheet" href="{{ "/public/css/hyde.css" }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ absolute_url }}/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>